[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "aiohttp>=3.13.2",
    "flask>=3.1.2",
    "flask-cors>=6.0.1",
    "numpy>=2.3.4",
    "websockets>=15.0.1",
]
